ul {
  padding-left:25px;
}
#about {
  line-height: 150%;
  white-space: nowrap;
  padding: 16px;
  display: grid;
  grid-template-columns: 340px 1fr;
}
#about img {
  border-radius: 40%;
}
/* MBTI 사슴 아이콘 hover효과 */
#deer:hover {
  width: 100px;
}
/* 가족사진에 hover하면 확대사진으로 서서히 변경되도록 */
.baby {
  position: relative;
}
.baby2 {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.baby:hover .baby2 {
  opacity: 1;
}
/* 웹페이지 폭이 좁아지면 사진 아래로 글이 배치되도록 */
@media (max-width:1020px) {
   #about {
      display: block;
    }
    .top {
      display: none;
    }
}
