
#index {
  line-height: 300%;
  white-space: nowrap;
  padding: 16px;
  display: grid;
  grid-template-columns: 340px 1fr;
}
#index img {
  border-radius: 40%;
}
/* 웹페이지 폭이 좁아지면 사진 아래로 글이 배치되도록 */
@media(max-width:1020px) {
  #index {
      display: block;
    }
    .top {
      display: none;
    }
}
