#like img {
  border-radius: 50%;
}

#like {
  white-space: nowrap;
  padding: 20px 16px;
  margin-top: 20px; 
}

@media(max-width:1020px) and (min-width:730px){
  #like img {
    width: 200px;
  }
}
@media(max-width:730px){
  #like img {
    width: 150px;
  }
}

/* CSS로 슬라이드쇼 효과 도전*/
.slideshow-container {
  height: 500px;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.mySlides{
  position: relative;
  animation-name: likeImage;
  animation-duration: 12s;
  animation-duration: leaner;
  animation-fill-mode: forwards; /* 애니메이션이 시작되기 전이나 끝나고 난 후 어떤 값이 적용될지 지정 */
  animation-iteration-count: infinite;
  animation-direction: normal; /* 순방향으로 애니메이션을 재생 */
}
@keyframes likeImage {
  0% {
    top: 100px;
  }
  100% {
    top: -950px;
  }
}
