@import "index.css";
@import "about.css";
@import "like.css";
@import "goal.css";
@import "contact.css";

body {
  margin:0;
  font-size: large;
  background-image: url('../image/back.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color:black;
}
/* 메인페이지 및 목록 링크 마우스오버 효과 */
h1 a:hover {
 opacity: 0.5;
}
ol a:hover {
 opacity: 0.5;
}
/* 페이지 상단 가로 구분선 */
h1 {
  border-bottom:1px solid black;
  text-align:center;
  padding: 20px;
  margin:0;
  font-size: 60px;
}
/* 페이지 왼쪽 목록 구분선 및 그리드 나누기 */
#list {
  border-right:1px solid black;
  width:160px;
  height: 100%;
  margin:0;
  padding:20px 0px 20px 50px;
  font-size: xx-large;
}
#grid {
  display: grid;
  grid-template-columns: 220px 1fr;
}
/* 웹페이지 너비가 좁아지면 목록을 위쪽으로 배치하는 미디어쿼리 */
@media(max-width:730px){
  #grid {
    display: block;}
  #list {
    width: auto;
    height: 35px;
    border-right:none;
    border-bottom:1px dotted gray;
    padding:20px 0px 20px 50px; }
  li {
    display: inline;
  }

}
