@import "index.css";
@import "about.css";
@import "like.css";
@import "goal.css";
@import "contact.css";

body {
  margin:0;
  font-size: large;
  background-image: url('../image/back.jpeg');
}
a {
  text-decoration: none;
  color:black;
}
a:hover {
  opacity: 0.5;
}
h1 {
  border-bottom:1px solid black;
  text-align:center;
  padding: 20px;
  margin:0;
  font-size: 60px;
}
#list {
  border-right:1px solid black;
  width:160px;
  height: 100%;
  margin:0;
  padding:20px 0px 20px 50px;
  font-size: xx-large;
}
#grid {
  display: grid;
  grid-template-columns: 280px 1fr;
}

#index, #about, #goal {
  padding: 16px;
  display: grid;
  grid-template-columns: 340px 1fr;
}
#like, #contact {
  padding: 20px 10px;
}

@media(max-width:730px){
  #grid {
    display: block;}
  #list {
    width: auto;
    height: 150px;
    border-right:none;
    border-bottom:1px dotted gray;
    padding:20px 0px 20px 50px; }
  #like img {
    width: 150px;
  }
}
@media (max-width:1020px){
  #index, #about, #goal, #contact{
    display: block;
  }
  .top {
    display: none;
  }
}
