body {
  margin:0;
  font-size: large;
/*  background-color: #FFAAFF;*/
  background-image: url('image/back.jpeg');
}
a {
  text-decoration: none;
  color:black;
}
a:hover {
  opacity: 0.5;
}
h1 {
  border-bottom:1px solid black;
  text-align:center;
  padding: 20px;
  margin:0;
  font-size: 60px;
}
#list {
  border-right:1px solid black;
  width:160px;
  height: 1600px;
  margin:0;
  padding:20px 0px 20px 50px;
  font-size: xx-large;
}
#grid {
  display: grid;
  grid-template-columns: 220px 1fr;
}
ul {
  padding-left:25px;
}
/*.date {
  padding-left: 220px;*/
}

#melony {
  padding: 20px 10px;
  /*border-radius: 10px red;
  border-radius: 10%;*/
}
#goal, #index, #about {
  padding: 16px;
  display: grid;
  grid-template-columns: 340px 1fr;
}
/* .like {
  display: inline;
  inline-size: 300px;
}
*/
#like img {
  border-radius: 50%;
}
img {
  border-radius: 40%;
}
#contact, #like {
  padding: 20px 10px;
}
@media(max-width:730px){
  #grid {
    display: block;}
  #list {
    width:1000px;
    height: 150px;
    border-right:none;
    border-bottom:1px dotted gray;
    padding:20px 730px 20px 50px; }
  #goal {
      display: block;
    }
}
@media(min-width:730px) and (max-width:1020px){
  #index, #about, #goal{
    display: block;
  }
}
#about {
  line-height: 150%;
}
