body {
  margin:0;
  font-size: large;
/*  background-color: #FFAAFF;*/
  background-image: url('back.jpeg');
}
a {
  text-decoration: none;
  color:black;
}
h1 {
  border-bottom:1px solid black;
  text-align:center;
  padding: 20px;
  margin:0;
  font-size: 60px;
}
#list {
  border-right:1px solid black;
  width:160px;
  margin:0;
  padding:20px 0px 20px 50px;
  font-size: xx-large;
}
#grid {
  display: grid;
  grid-template-columns: 220px 1fr;
}
#grid ul {
  padding-left:25px;
}
.date {
  padding-left: 220px;
}
#like {
  padding-top: 10px;
}
#melony {
  padding: 10px;
  border-radius: 10px red;
  border-radius: 0;
}
#goal {
  padding: 16px;
}
/* .like {
  display: inline;
  inline-size: 300px;
}
*/
#like img {
  border-radius: 50%;
}
img {
  border-radius: 40%;
}
#contact {
  padding: 10px;
}
@media(max-width:730px){
  #grid {
    display: block;}
  #list {
    border-right:none;
    border-bottom:1px dotted gray;
    padding:20px 730px 20px 50px; }
}
